@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;

}

body {
  background: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
    font-family: serif;
}

.navigation a {
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
text-decoration: none;
}

.navigation a:hover,
.navigation a.active {
  background: #359381;
  color: #f9f9f9;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;

}

.heading h1 {
    font-family: 'Poppins' , sans-serif;
    font-size: 50px;
    color: #000;
    margin-bottom: 20px;
    position: relative;
    font-weight: 600;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin:0 auto;
    background-color: #359381;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;   
}

.container{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.2);
}

.about-content{
    flex:1;
}

.about-content h2{
    font-size: 15px;
    
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;

}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover{
    background-color: #3e8e41;
}

.heading {
    margin-top: 6%;
}

.read-more{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



.about-content p {
    direction: rtl;
}

.about-content h2 {
    direction: rtl;
}

    

.container-fluid {
    margin-top: 6%;
    }

.container-fluid h1 {
    transition: transform 0.5s;
}

.container-fluid h1:hover{
    transform: translateY(-10px);
}