@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;

}

body {
  background: #f2f2f2;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}


.logo {
  font-size: 2em;
  color: #359381;
  pointer-events: none;
  margin-right: 270px;
  font-family: serif;
}

.navigation a {
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
  text-decoration: none;

}

.navigation a:hover,
.navigation a.active {
  background: #359381;
  color: #f9f9f9;
}




body {
    /*background-color: #359381;
    background-position: 1000 50px;*/
    /*background: url('../img/mm.png');*/
    background-position: 0 1000px;
    background-size: cover;
    background-position: left top;
    font-family: 'Poppins' sans-serif;
}



.container {
    background-image: url('/myProjacts/FTSTW/img/mmmm,mm.png');
    background-size:cover;
    display: block;
    height: 100%;
    /*max-width: 1700px;*/
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 10rem;
    text-align: center;
}

h1 {
    color: #359381;
    /*font-size: 5rem;*/
    font-weight: 700;
    letter-spacing: 8px;
    /*margin-bottom: 2rem;*/
    font-size: 6em;
    font-family: 'Poppins' sans-serif;
}

h2 {
    color: #777;
    /*font-size: 4rem;*/
    font-weight: 400;
    font-size: 5em;
    font-family: 'Poppins' sans-serif;

}

p {
    font-size: 15px;
    color: #fff;
    line-height: 4rem;
    margin-bottom: 5rem;
    margin-top: 100px;
    direction: rtl;
    font-family: 'Fredoka', sans-serif;
}

