@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f2f2;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
    font-family: serif;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #f9f9f9;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 100px;
    margin-top: 6%;
}

.sec h2 {
    direction: rtl;
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec  p {
direction: rtl;
font-size: 1em;
color: #fff;
font-weight: 300;
}

/*-modalbox-*/

#modalbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 450px;
    text-align: center;
    padding: 80px 60px;
    font-size: 22px;
    font-weight: 500;
    background: #fff;
    z-index: 1;
    border-radius: 8px;
    display: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.cookies{
    width: 100px;
    margin-bottom: 15px;
}

#modalbox button{
    background: #ff5945;
    color: #fff;
    padding: 15px 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    border: 0;
    outline: 0;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

#modalbox button:hover{
    transform: translateY(-10px);
}

.close-icon{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

#modalbox p {
    font-size: 27px;
    font-family: 'Rubik 80s Fade', cursive;
}

/*button {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
    z-index: 1;
}

button::hover {
    /*box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;-
    color: red;
}
go website4
-